<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710848761016-8ome75ootnst85prn7r8chklklmtqc1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710848761016-8ome75ootnst85prn7r8chklklmtqc1t</string>
	<key>API_KEY</key>
	<string>AIzaSyA6DNaQj0btCxYjeK9FJzPbumsOAdQ5WMg</string>
	<key>GCM_SENDER_ID</key>
	<string>710848761016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRecipeApp</string>
	<key>PROJECT_ID</key>
	<string>recipeapp-32fce</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeapp-32fce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710848761016:ios:3019a1d5d1d7ecb148784d</string>
</dict>
</plist>